## Connecting SQL to Pandas

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
import config
from path import Path

In [3]:
from config import db_password

In [4]:
## Connection Setup

#"postgresql://[user]:[password]@[location]:[port]/[database]"
db_connect = f"postgresql://postgres:{db_password}@localhost:5432/project_db"

# Create the connection
cnx = create_engine(db_connect)

In [5]:
# pull from SQL
df = pd.read_sql('''SELECT * FROM stroke''', con=cnx)

In [6]:
df.head()

,index,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,Male,3,0,0,No,children,Rural,95.12,18.0,unknown,0
1,1,Male,58,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,2,Female,8,0,0,No,Private,Urban,110.89,17.6,unknown,0
3,3,Female,70,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,4,Male,14,0,0,No,Never_worked,Rural,161.28,19.1,unknown,0