## Connecting SQL to Pandas

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
import config
from path import Path

In [3]:
from config import db_password

In [4]:
## Connection Setup
db_connect = f"postgresql://postgres:{db_password}@localhost:5432/capstone_db"

# Create the connection
cnx = create_engine(db_connect)

In [5]:
# pull from SQL
df = pd.read_sql('''SELECT * FROM stroke_table''', con=cnx)

In [6]:
df.head()

,index,Age,Gender,Ever Married,Smoking Status,Hypertension,Heart Disease,Stroke
0,0,3,Male,No,unknown,0,0,0
1,1,58,Male,Yes,never smoked,1,0,0
2,2,8,Female,No,unknown,0,0,0
3,3,70,Female,Yes,formerly smoked,0,0,0
4,4,14,Male,No,unknown,0,0,0